.admin-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
}

.admin-left {
    flex: 3;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
}

.admin-right {
    flex: 1;
    background: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
}

    .admin-right h2 {
        margin-bottom: 15px;
    }

    .admin-right button {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        cursor: pointer;
    }
